<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>体脂档案</string>
		<key>icon</key>
		<string>tzhida</string>
		<key>identifier</key>
		<string>体脂档案</string>
	</dict>
	<dict>
		<key>title</key>
		<string>血糖档案</string>
		<key>icon</key>
		<string>xtda</string>
		<key>identifier</key>
		<string>血糖档案</string>
	</dict>
	<dict>
		<key>title</key>
		<string>血氧档案</string>
		<key>icon</key>
		<string>xyangda</string>
		<key>identifier</key>
		<string>血氧档案</string>
	</dict>
	<dict>
		<key>title</key>
		<string>体重档案</string>
		<key>icon</key>
		<string>tzhongda</string>
		<key>identifier</key>
		<string>体重档案</string>
	</dict>
	<dict>
		<key>title</key>
		<string>血压档案</string>
		<key>icon</key>
		<string>xyada</string>
		<key>identifier</key>
		<string>血压档案</string>
	</dict>
	<dict>
		<key>title</key>
		<string>心电档案</string>
		<key>icon</key>
		<string>xdda</string>
		<key>identifier</key>
		<string>心电档案</string>
	</dict>
	<dict>
		<key>title</key>
		<string>尿常规档案</string>
		<key>icon</key>
		<string>ncgda</string>
		<key>identifier</key>
		<string>尿常规档案</string>
	</dict>
	<dict>
		<key>title</key>
		<string>血脂档案</string>
		<key>icon</key>
		<string>xzda</string>
		<key>identifier</key>
		<string>血脂档案</string>
	</dict>
</array>
</plist>
