<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>60</string>
	<string>80</string>
	<string>100</string>
	<string>120</string>
	<string>140</string>
	<string>160</string>
	<string>180</string>
	<string>200</string>
</array>
</plist>
