<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>result</key>
		<string>--</string>
		<key>name</key>
		<string>胆固醇含量（CHOL）</string>
		<key>illustrate</key>
		<dict>
			<key>dangerous</key>
			<string></string>
			<key>bad</key>
			<string>升高：≧5.69MMOI/L</string>
			<key>nomal</key>
			<string>临界：5.20-5.66MMOI/L</string>
			<key>good</key>
			<string>合适水平：≦5.17MMOI/L</string>
		</dict>
	</dict>
	<dict>
		<key>result</key>
		<string>--</string>
		<key>name</key>
		<string>高密度脂蛋白胆固醇含量（HDLCHOL）</string>
		<key>illustrate</key>
		<dict>
			<key>dangerous</key>
			<string>极高：≧5.69MMOI/L</string>
			<key>bad</key>
			<string>升高：2.26-5.63MMOI/L</string>
			<key>nomal</key>
			<string>临界：1.69-2.25MMOI/L</string>
			<key>good</key>
			<string>合适水平：&lt;1.69MMOI/L</string>
		</dict>
	</dict>
	<dict>
		<key>result</key>
		<string>--</string>
		<key>name</key>
		<string>甘油三酯含量（TRIG）</string>
		<key>illustrate</key>
		<dict>
			<key>dangerous</key>
			<string></string>
			<key>bad</key>
			<string></string>
			<key>nomal</key>
			<string>降低：&lt;0.91MMOI/L</string>
			<key>good</key>
			<string>合适水平：&gt;1.04MMOI/L</string>
		</dict>
	</dict>
	<dict>
		<key>result</key>
		<string>--</string>
		<key>name</key>
		<string>高密度脂蛋白胆固醇含量（CALCLDL）</string>
		<key>illustrate</key>
		<dict>
			<key>dangerous</key>
			<string></string>
			<key>bad</key>
			<string>升高：≧3.62MMOI/L</string>
			<key>nomal</key>
			<string>临界：3.13-3.59MMOI/L</string>
			<key>good</key>
			<string>合适水平：≦3.10MMOI/L</string>
		</dict>
	</dict>
	<dict>
		<key>result</key>
		<string>--</string>
		<key>name</key>
		<string>胆固醇含量（CHOL）</string>
		<key>illustrate</key>
		<dict>
			<key>dangerous</key>
			<string></string>
			<key>bad</key>
			<string>升高：≧5.0MMOI/L</string>
			<key>nomal</key>
			<string>女性合适水平：&lt;3.5MMOI/L</string>
			<key>good</key>
			<string>男性合适水平：&lt;4.5MMOI/L</string>
		</dict>
	</dict>
</array>
</plist>
